.menu-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 100%; /* Posición a la derecha del botón "Menu" */
    background: #fff; /* Color de fondo del menú */
    border: 1px solid #ccc; /* Borde del menú */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra */
    animation: slideIn 0.3s forwards; /* Animación de entrada */
  
    /* Otras propiedades de estilo, como tamaño y margen */
  }
  
  .edit-button,
  .delete-button {
    padding: 10px;
    border: none;
    background: #0077FF;
    color: #fff;
    margin: 5px;
    cursor: pointer;
  
    /* Otras propiedades de estilo para los botones */
  }

  .scroll-div{
    height: 550px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%); /* Comienza fuera de la pantalla a la derecha */
    }
    to {
      transform: translateX(0); /* Termina en su posición normal */
    }
  }
  
  