body{
    position: absolute;
    top: 452px;
    left: 862px;
    width: 197px;
    height: 176px;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 1;
}

.divHijo{
  /* Layout Properties */
top: -117px;
left: -28px;
width: 1977px;
height: 1446px;
/* UI Properties */
background: transparent url('') 0% 0% no-repeat padding-box;
opacity: 0.13;
top: 452px;
left: 862px;
width: 197px;
height: 176px;
/* UI Properties */
background: #FF721B 0% 0% no-repeat padding-box;
opacity: 1;
}

