.divPadre{
    height: 100vh;
    position: relative;
}

.divHijo{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.menu{
    height: 115px;
}

/* .estructura{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.title{
    top: 115px;
    left: 787px;
    width: 346px;
    height: 40px;
}

.title_main{
    text-align: center;
    font: normal normal normal 40px/56px Myriad Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.text_main{
    top: 177px;
    left: 192px;
    width: 1536px;
    height: 24px;
    text-align: left;
    font: normal normal 300 24px/34px Myriad Pro;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

