.form-container-present{
    background-color: #FFFFFF;
    width: 936px;
    height: 549px;
    margin-top: 266px;
    border: 1px solid #ffffff;
    border-radius: 67px;
}


.form-container-present{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.denuevo{
    font-size: 40px;
    font-family: 'Myriad Pro', sans-serif;
    border: 1px solid #FFFFFF;
    width: 352px;
    height: 40px;
    margin-top: 41.05px;
    letter-spacing: -0.2px;
}

.entradaIma{
    width: 118px;
    height: 118px;
    margin-top: 20px;
    border-radius: 96px;
}

.name_user{
    font-size: 40px;
    font-family: 'Myriad Pro', sans-serif;
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 40px;
    margin-top: 23px;
}


.rol_user{
    font-size: 20px;
    font-family: "Myriad Pro Light";
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 20px;
    margin-top: 18px;
}